In [25]:
# Add dependicies and set up
import pandas as pd

# Load csv file
file_to_load = "../Resources/purchase_data.csv"

# Read the csv file
purchase_data = pd.read_csv(file_to_load)

In [26]:
# PLAYER COUNT

# Display the total number of players

total_players = purchase_data.loc[:,["Gender", "SN", "Age"]]
total_players = total_players.drop_duplicates()
number_of_players = total_players.count()[0]

pd.DataFrame({"Total Number of Players" : [number_of_players]})

   Total Number of Players
0                      576

In [27]:
# PURCHASING ANALYSIS (TOTAL)

# Obtain the number of unique items, avg price, etc.
# Create summary data frame to hold the results
# Display the summary data frame

unique_items = purchase_data["Item ID"].nunique() # nunique excludes NA values bvy default
average_price = purchase_data["Price"].mean()
purchases_count = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

# Create a data frame from the data above

purchasing_analysis_df = pd.DataFrame({
    "Number of Unique Items" : [unique_items],
    "Average Price" : [average_price],
    "Total Number of Purchases" : [purchases_count],
    "Total Revenue" : [total_revenue]
    })

# Format the display and add $ to values that represent money

purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)
purchasing_analysis_df

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [28]:
# GENDER DEMOGRAPHICS

# Count male players and conver to %
# Count female players and convert to %
# Count non-disclosed payers and convert to %

gender_count = total_players["Gender"].value_counts() # Returns seried of unique values
gender_percentages = (gender_count/number_of_players)*100

# Create data frame to store values for display

gender_demographics_df = pd.DataFrame({
    "Total Count of Players" : gender_count,
    "Percentage of Players" : gender_percentages
    })

gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:.2f}%".format)

gender_demographics_df = gender_demographics_df.round(2)
gender_demographics_df

                       Total Count of Players Percentage of Players
Male                                      484                84.03%
Female                                     81                14.06%
Other / Non-Disclosed                      11                 1.91%

In [29]:
# PURCHASING ANALYSIS (GENDER)

# Obtain purchase count, average purchase price, purchase total per person by gender, etc.
# Create summary table to hold results
# Display the sumnmary data frame

purchase_count_by_gender = purchase_data.groupby(["Gender"])["Price"].count().rename("Count by Purchase by Gender")
avg_count_by_gender = purchase_data.groupby(["Gender"])["Price"].mean().rename("Average Purchase Price by Gender")
total_by_gender = purchase_data.groupby(["Gender"])["Price"].sum().rename("Total Purchase Count by Gender")
avg_total_by_gender = total_by_gender / gender_demographics_df["Total Count of Players"]

# Create a data frame

gender_analysis_df = pd.DataFrame({
    "Purchase Count" : purchase_count_by_gender,
    "Average Purchase Price" : avg_count_by_gender,
    "Total Purchase Price" : total_by_gender,
    "Average Total Purchase per Person" : avg_total_by_gender
    })

# Format the summary table

gender_analysis_df["Average Purchase Price"] = gender_analysis_df["Average Purchase Price"].map("${:.2f}".format)
gender_analysis_df["Total Purchase Price"] = gender_analysis_df["Total Purchase Price"].map("${:.2f}".format)
gender_analysis_df["Average Total Purchase per Person"] = gender_analysis_df["Average Total Purchase per Person"].map("${:.2f}".format)
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Average Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [30]:
# AGE DEMOGRAPHICS

# Create bin for ages
# Categorize exisitng players into bins ( use pd.cut() )
# Calculate number & % by age group bins
# Create summary table & display table

# Create age bins
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99]
age_bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

total_players["Age Bins"] = pd.cut(total_players["Age"], age_bins, labels=age_bin_labels)
total_age_demographics = total_players["Age Bins"].value_counts()
percent_age_demographics = (total_age_demographics / number_of_players) * 100

# Create data frame 

age_demographics_df = pd.DataFrame({
    "Total Count" : total_age_demographics,
    "Percentage of Players" : percent_age_demographics
    })

age_demographics_df["Percentage of Players"] = age_demographics_df["Percentage of Players"].map("{:.2f}%".format)

age_demographics_df = age_demographics_df.round(2)
age_demographics_df.sort_index()

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [31]:
# PURCHASING ANALYSIS (AGE)

# Bins purchase data by age (same as previous section)
# Obtain purchase count, avg purchase price, avg purchase total per person, etc.
# Create summary and display

# Create count bins
count_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99,34.99, 39.99, 999]
count_bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Ages"] = pd.cut(purchase_data["Age"], count_bins, labels=count_bin_labels)

# Count the data that corresponds to each bin
purchase_count_by_age = purchase_data.groupby(["Ages"])["Price"].count()
average_purchase_by_age = purchase_data.groupby(["Ages"])["Price"].mean().round(2)
purchase_value_by_age = purchase_data.groupby(["Ages"])["Price"].sum().round(2)
average_purchase_count_total = purchase_value_by_age / total_age_demographics

# Create data frame

age_analysis_df = pd.DataFrame({
    "Purchase Count" : purchase_count_by_age,
    "Average Purchase Price" : average_purchase_by_age,
    "Total Purchase Value" : purchase_value_by_age,
    "Average Total Purchase per Person" : average_purchase_count_total
})

# Format table

age_analysis_df["Average Purchase Price"] = age_analysis_df["Average Purchase Price"].map("${:.2f}".format)
age_analysis_df["Total Purchase Value"] = age_analysis_df["Total Purchase Value"].map("${:.2f}".format)
age_analysis_df["Average Total Purchase per Person"] = age_analysis_df["Average Total Purchase per Person"].map("${:.2f}".format)

age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [32]:
# TOP SPENDERS

# Calculate and obtain top spenders 
# Sort the data in descending order
# Display in a summary table

top_spenders = purchase_data.groupby("SN")

top_purchase_count = top_spenders["Purchase ID"].count().round(2)
average_spenders_price = top_spenders["Price"].mean().round(2)
total_spenders_purchases = top_spenders["Price"].sum().round(2)

top_spenders_df = pd.DataFrame({
    "Purchase Count" : top_purchase_count,
    "Average Purchase Price" : average_spenders_price,
    "Total Purchase Value" : total_spenders_purchases
})

# Format the summary table & display
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:.2f}".format)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:.2f}".format)
top_spenders_df = top_spenders_df.sort_values(["Purchase Count"], ascending=False)
top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

In [33]:
# MOST POPULAR ITEMS

# Retrieve item ID, item name, and item price columns
# Group data to calculate purchase count, avg item price, and total purchase value
# Create summary table and display calculations

most_popular_items = purchase_data.groupby(["Item ID", "Item Name"])

most_popular_purchase_count = most_popular_items["Price"].count()
most_popular_purchase_value = most_popular_items["Price"].sum()
avg_most_popular_item_price = most_popular_purchase_value / most_popular_purchase_count

# Create data frame and display

most_popular_items_df = pd.DataFrame({
    "Purchase Count" : most_popular_purchase_count,
    "Item Price" : avg_most_popular_item_price,
    "Total Purchase Value" : most_popular_purchase_value
})

most_popular_items_df = most_popular_items_df.sort_values("Purchase Count", ascending=False)

# Format the table

most_popular_items_df["Item Price"] = most_popular_items_df["Item Price"].map("${:.2f}".format)
most_popular_items_df["Total Purchase Value"] = most_popular_items_df["Total Purchase Value"].map("${:.2f}".format)
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [34]:
# MOST PROFITABLE ITEMS

# Sort previous table in descending order
# Display the data fram

most_popular_items_df = most_popular_items_df.sort_values("Purchase Count", ascending=False)
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77